<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 d- d-md-block bg-light sidebar">
            <div class="myform form col-md-16">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Acessar</h1>
                    </div>
                </div>
                <form action="{{ path_for('auth.signin') }}" method="post" name="login">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" id="email"
                               aria-describedby="emailHelp" placeholder="Digite o seu email">
                        {% if errors.email %}
                            <span class="help-block" style="color:crimson">Por favor, informe um email válido</span>
                        {% endif %}
                    </div>
                    <div class="form-group {{ errors.password }}? 'has-error' : '' }}">
                        <label>Senha</label>
                        <input type="password" name="password" id="password" class="form-control"
                               aria-describedby="emailHelp" placeholder="Digite a sua senha">
                        {% if errors.password %}
                            <span class="help-block" style="color:crimson">Por favor, informe a senha</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <p class="text-center">Ao efetuar login você está aceitando nosso <a href="#">Termos de
                                Uso</a></p>
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Acessar</button>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p class="text-center">
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="text-center">Não possue uma conta? <a href="register" id="signup">Registrar</a></p>
                    </div>
                    <div class="col-md-12  has-error">
                        <div class="form-group">
                            <p class="text-center" style="color:crimson"><a id="error">{{ result_error }}</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="myform form-label-group">
                <img src="https://i.imgur.com/n0bT5Ob.jpg" height="1000" width="720"/>
            </div>
        </div>
    </div>
</div>