<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 d- d-md-block bg-light sidebar">
            <div class="myform form col-md-16">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Recuperar senha</h1>
                    </div>
                </div>
                <form action="{{ path_for('auth.recover') }}" method="post" name="login">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" id="email"
                               aria-describedby="emailHelp" placeholder="Digite o seu email">
                        {% if errors.email %}
                            <span class="help-block" style="color:crimson">Por favor, informe o seu email de cadastro</span>
                        {% endif %}
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Recuperar</button>
                    </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="myform form-label-group">
                <img src="https://i.imgur.com/n0bT5Ob.jpg" height="720" width="920"/>
            </div>
        </div>
    </div>
</div>