<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Meus documentos</h1>

    </div>
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="row">
                {% if documents|length < 1 %}
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                Opa, por enquanto você não adicionou nenhum documento.
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for document in documents %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <b>{{ document.type }}</b>
                                    <p>{{ document.notification }}</p>
                                    <p>{{ document.updated_at }}</p>
                                    <a class="text-center btn btn-primary btn-sm active"
                                       href="{{ path_for('document.details', { 'document_id' : document.id}) }}"> + Detalhes</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">

</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Junte-se ao time</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                 src="https://i.imgur.com/UlElYk6.jpg"
                 alt="">
        </div>
        <p>Ajude a construir a nossa plataforma, acesse o projeto no <a target="_blank" rel="nofollow"
                                                                        href="https://github.com/lluzalves/web_ifsp">Github</a>,
            desde a API Rest até clientes web e Android</p>
        <a target="_blank" rel="nofollow" href="https://github.com/lluzalves/web_ifsp">Acesse os
            repositórios→</a>
    </div>
</div>

</div>


