<p><b>Termos e Condições</p></b>
        <p><b>Ifdoc App / ifdocs –  Janeiro 2019</p></b>
    <p><b>POR FAVOR LEIA OS TERMOS E CONDIÇÕES ANTES DE USAR A APLICAÇÃO</p></b>
    Ao usar esse software ou efetuar registro e login, você está incodicionalmente de acordo com esse termo de uso e condições. Se você não concordar, não use o aplicativo
    <p><b>Usuário</p></b>
    <p>Ao usar o Ifdoc App ou o portal ifdocs, você garante e confirma que:</p>
    (i)toda informação submetida, inserida e editar por você é verdadeira e acertiva;
    (ii)você é o responsável por manter a acurácia da informação;
    (iii)ao submeter informações você não está violando nenhuma leia, regulamentação ou orientação em sua localização
    (iv)você aceita receber notificações de nosso sistema e de parceiros
    <p><b>Modificações desse termo podem acontecer a qualquer momento</p></b>
        Ifdoc App possui o direito de modificar esse termo a qualquer momento nem notificação prévia. Por favor, revisite essa tela de tempos em tempos para se atualizar.
        <p><b>Informações</p></b>
    O uso de qualquer funcionalidade da aplicação é por sua conta e risco. Não somos responsavéis pelas ações e como você usa a aplicação.
    Você concorda que a equipe do Ifdoc App e do portal ifdocs não é responsável por nenhuma perda, dano causado pelo uso dessa aplicação.